@mixin keyframes($name) {

	@-ms-keyframes #{$name} {
		@content
	}
	@-o-keyframes #{$name} {
		@content
	}
	@-moz-keyframes #{$name} {
		@content
	}
	@-webkit-keyframes #{$name} {
		@content
	}
	@keyframes #{$name} {
		@content
	}
}

@mixin animation($val) {
	-ms-animation: $val;
	-o-animation: $val;
	-webkit-animation: $val;
	-moz-animation: $val;
	animation: $val;
}

@include keyframes(rotate) {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.loading:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 101;
	border-radius: 50%;

	@include animation(rotate .8s infinite linear);

	border: 5px solid currentColor;
	border-right-color: transparent !important;

	padding: 12px;
	left: calc( 50% - 12px );
	top: 30%;

	transition: .3s;
}

body {
	font-size: 1.07143rem;
	font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
}

.success {
	color: hsl(150,80%,30%);
}
.error {
	color: hsl(0,80%,50%);
}
.warning {
	color: hsl(40,80%,50%);
}


#saveResultsReport {
	padding: .5em;
	border-radius: 5px;
	background: hsl(0,0%,50%);
	color: #fff;
	font-size: 1em;
	cursor: pointer;
	border: 0;

	&:hover {
		background: hsl(350, 90%, 15%);
	}
}

.download-report-form.page-top {
	margin: 2em;

	#saveResultsReport {
		font-size: .9em;
	}
}

.finish-message {
	padding: 1.1em;
	margin: 1em;
	border: 1px solid hsl(0,0%,90%);
	background: hsl(0,0%,100%);
}

.upload-csv {
	margin: 1.1em;
	padding: .8em;
	position: relative;

	label {
		display: block;
		font-weight: 200;
		padding: .5em 0 .3em;
	}

	input[type="submit"] {
		cursor: pointer;
		padding: .9em;
		background: hsl(350, 78%, 30%);
		color: white;
		border: none;
		border-radius: 5px;

		&:hover {
			background: darken(hsl(350,78%,30%),15%);
		}
	}

	input[type="text"], input[type="file"]
	{
		font-weight: 700;
	}
	input[type="text"] {
		padding: .5em;
		font-size: .9em;
	}
	input[type="file"] {
		padding: .5em 0;
		font-size: .9em;
	}

	.col textarea {
		width: 100%;
	}

}

.upload-csv.loading {

	&:after {
		color: hsl(202,100%,37%); 
	}

	input, label, textarea
	{
		opacity: .2;
	}
}

.results-table {
	width: 96%;
	margin: 1em auto;
	border-collapse: collapse;
	font-weight: 300;

	td {
		padding: .4em;
	}

	tr:nth-child(2n+1) td {
		background: hsl(0,0%,87%);
	}

	tr.heading-row td {
		background: hsl(0,0,20%);
		color: hsl(0,0%,95%);
	}

	.display-numeric {
		text-align: right;
		padding-right: 1em;
	}


	.incremented:after, .decremented:after
	{
		opacity: .5;
		display: inline;
		padding-left: 5px;
	}
	.incremented {
		font-weight: 800;
		color: hsl(150,80%,30%);
		&:after {
			content: '\02191';
		}
	}
	.decremented {
		font-weight: 800;
		color: hsl(31,80%,42%);
		&:after {
			content: '\02193';
		}
	}
 	

	.untracked, .not-matched {
		color: hsl(0, 0%, 50%);
		font-style: italic;
	}

}

.col-wrapper {
	box-sizing: border-box;
	.col {
		box-sizing: border-box;
	}
}

@media(min-width:550px) {
	.col-wrapper {
		display: flex;

		.col.half {
			width: 50%;
		}
	}
}


@media print {
	body {
		font-size: 12pt;
	}

	#saveResultsReport,
	.upload-csv
	{
		display: none;
	}

	.results-table {
		td:not(.heading-row) {
			border: 1px solid hsl(0,0%,70%);
			// force printing of bg colors
			-webkit-print-color-adjust: exact;
		}
	}
}