@mixin keyframes($name) {

	@-ms-keyframes #{$name} {
		@content
	}
	@-o-keyframes #{$name} {
		@content
	}
	@-moz-keyframes #{$name} {
		@content
	}
	@-webkit-keyframes #{$name} {
		@content
	}
	@keyframes #{$name} {
		@content
	}
}

@mixin animation($val) {
	-ms-animation: $val;
	-o-animation: $val;
	-webkit-animation: $val;
	-moz-animation: $val;
	animation: $val;
}

@include keyframes(rotate) {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
 
.loading {

	p {
		opacity: .3;
		pointer-events: none;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		z-index: 101;
		border-radius: 50%;

		@include animation(rotate .8s infinite linear);

		border: 5px solid currentColor;
		border-right-color: transparent !important;

		padding: 12px;
		left: calc( 50% - 12px );
		top: 30%;

		transition: .3s;
	}
}

body {
	font-size: 1.07143rem;
	font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
	margin: 2em 0 0;
	padding: 0;
}

.success {
	color: hsl(150,80%,30%);
}
.error {
	color: hsl(0,80%,50%);
}
.warning {
	color: hsl(40,80%,50%);
}

.incidental {
	font-size: .9em;
	color: hsl(0,0%,40%);
	font-style: italic;
}
p.incidental {
	margin: 2px 0;
}

.action-button {
	padding: .5em;
	border-radius: 5px;
	background: hsl(0,0%,50%);
	color: #fff;
	font-size: 1em;
	cursor: pointer;
	border: 0;
	text-decoration: none;
	display: inline-block;

	&:hover {
		background: hsl(350, 90%, 15%);
	}
}

.download-report-form.page-top {
	margin: 2em;

	#saveResultsReport {
		font-size: .9em;
	}
}

.finish-message {
	padding: 1.1em;
	margin: 1em;
	border: 1px solid hsl(100,50%,70%);
	background: hsl(0,0%,100%);
}
.problem-message {
	padding: 1.1em;
	margin: 1em;
	border: 1px solid hsl(0,100%,40%);
	background: hsl(0,80%,95%);
}

form {
	td {
		vertical-align: top;
	}
}
label.block {
	display: block;
	font-weight: 200;
	padding: .5em 0 .3em;
}

input[type="submit"] {
	cursor: pointer;
	padding: .9em;
	background: hsl(350, 78%, 30%);
	color: white;
	border: none;
	border-radius: 5px;

	&:hover {
		background: darken(hsl(350,78%,30%),15%);
	}
}

input.disabled {
	opacity: .4;
	pointer-events: none;
	cursor: not-allowed;
}

input[type="text"], input[type="file"], input[type="number"]
{
	font-weight: 700;
}
input[type="text"], input[type="number"], textarea {
	padding: .5em;
	font-size: .9em;
}
input[type="file"] {
	padding: .5em 0;
	font-size: .9em;
}

textarea {
	font-family: inherit;
}


.main-actions {
	margin: 1.1em 0;
	// padding: .8em;
	position: relative;

}

.csv-upload-form {
	input[name="float_reserve"] {
		width: 2em;
	}
}

.secondary-form {
	padding: .8em;
	background: hsl(0,0%,93%);
	border: 1px solid hsl(0,0%,70%);

	h1, h2, h3 {
		margin-top: 0;
	}
}

.upload-csv.loading {

	&:after {
		color: hsl(202,100%,37%); 
	}

	input, label, textarea
	{
		opacity: .2;
	}
}

.ignored-barcodes-form {
	font-size: .8em;

	table {
		width: 100%;

		input[type="text"],
		textarea
		{
			width: 80%;
			height: 1.5em;
			padding: 2px;
			border: none;
			font-weight: normal;
		}
	}
}

.results-table {
	width: 96%;
	margin: 1em auto;
	border-collapse: collapse;
	font-weight: 300;

	td {
		padding: .4em;
	}

	tr:nth-child(2n+1) td {
		background: hsl(0,0%,87%);
	}

	tr.heading-row td {
		background: hsl(0,0,20%);
		color: hsl(0,0%,95%);
	}

	.display-numeric {
		text-align: right;
		padding-right: 1em;
	}


	.incremented:after, .decremented:after
	{
		opacity: .5;
		display: inline;
		padding-left: 5px;
	}
	.incremented {
		font-weight: 800;
		color: hsl(150,80%,30%);
		&:after {
			content: '\02191';
		}
	}
	.decremented {
		font-weight: 800;
		color: hsl(31,80%,42%);
		&:after {
			content: '\02193';
		}
	}
 	

	.untracked, .not-matched {
		color: hsl(0, 0%, 50%);
		font-style: italic;
	}

	.result-set-note {
		font-size: .9em;
	}

}
.error-table {
	background: hsl(0,80%,80%);
	border: 1px solid red;
	tr:nth-child(2n+1) td {
		background: hsl(0,97%,97%);
	}

	tr.heading-row td {
		background: hsl(0,90%,20%);
		color: hsl(0,0%,95%);
	}
}


.js-delete-dynamic-row {
	color: red;
	font-weight: bold;
	font-size: .8em;
	font-family: verdana;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	background: hsl(0,70%,94%);
	padding: 3px 6px;
	border-radius: 2px;
	border: 1px solid transparent;
	margin: 0 10px 0 5px;
}
.js-delete-dynamic-row:hover {
	border-color: red;
	background: hsl(0,80%,88%);
}

tr.empty .js-delete-dynamic-row {
	display: none;
}

.col-wrapper {
	box-sizing: border-box;
	.col {
		box-sizing: border-box;
	}
}

@media(min-width:550px) {
	.col-wrapper {
		display: flex;
		justify-content: space-between;

		.col.half {
			width: 48%;
		}
	}
}


@media print {
	body {
		font-size: 12pt;
	}

	#saveResultsReport,
	.upload-csv
	{
		display: none;
	}

	.results-table {
		td:not(.heading-row) {
			border: 1px solid hsl(0,0%,70%);
			// force printing of bg colors
			-webkit-print-color-adjust: exact;
		}
	}
}

nav.main-nav {
	background: hsl(235, 22%, 65%)	;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 70;

	a {
		display: inline-block;
		padding: .5em 1em;
		color: white;
		margin: 8px 0 0 10px;
		border-radius: 4px 4px 0 0;
		text-decoration: none;

		&:hover {
			background: hsla(0,0%,96%,.6);
			color: black;
		}
		&.current-page {
			pointer-events: none;
			color: black;
			background: hsl(0,0%,96%);
		}
	}
}

.bates-inventory-sync-page {
	display: none;
	padding: 2em;

	&.current-page {
		display: block;
	}
}

.pagebreak-form-inputs {
	padding: .9em;
	background: hsl(0,0%,93%);
	border: 1px solid hsl(0,0%,85%);
	margin: .5em 0;
}
.csv-upload-input-section {
	font-size: 1.4em;
	margin: 1em 0;
}

.message {
	margin: 1.5em 0;
	padding: .5em 1em;
	font-size: 1.1em;
	background: hsl(0,0%,15%);
	border: 1px solid black;
	color: white;
	border-radius: 5px;

	.error {
		color: hsl(0,80%,80%);
	}
}